// Brand-Primary Colors
$grey: lightgrey;
$green: green;

// Facebook Primary Colors
$fbdarkblue: #3b5998;
$fbblue: #8b9dc3;
$fblightblue: #dfe3ee;
$fbwhite: #f7f7f7;


// Spacing
$space: 1.4rem;
$site-max-width: 110rem;

// Font Sizes
$base-font-size: 1.4rem;

// Form inputs
$input-border: $grey;
$input-spacing: 1rem;


// Header Item
$item-border-height: 2px;

// Notification Header
$black: #5E5E5E;